
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .container {
    max-width: 800px;
    margin: 1px auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    background-color: #0980ff;
    color: #070000;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #057ef8;
  }

  .employee-card {
    margin: 20px auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 
    -5px 5px, rgba(0, 0, 0, 0.3) 
    -10px 10px, rgba(0, 46, 170, 0.2) 
    -15px 15px, rgba(0, 0, 0, 0.1) 
    -10px 10px, rgba(0, 0, 0, 0.05) -0 0;
    background-color: #ffffff;
    max-width: 900px; 
  }
  
  .delete-button {
    cursor: pointer;
    background-color: transparent;
    border: 2p;
    font-size: 1.1rem;
    margin-left: 5px;
  }
  .submit-button {
    background-color: #4caf50; 
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
  }
  
  